.post-job a{
    display: block;
    float: right;
    background: url(sprite.png) 0 -90px no-repeat;
    width: 251px;
    height: 80px;
    text-indent: -9999em;
}

.post-job a:hover{
	background: url(sprite.png) 0 -170px no-repeat;
}

/* Container
-----------------------------------------------------------------------------*/

#container {
    background: #fdfefe url(paper-edge.png) right top repeat-y;
    margin-bottom: 40px;
}

#container-inner {
    background: url(paper-crease.png) right bottom no-repeat;
    padding: 20px 20px 63px;
    position: relative;
}

.paperclip {
    background: url(sprite.png) 0 -260px no-repeat;
    width: 69px;
    height: 31px;
    position: absolute;
    left: -14px;
    top: 60px;
}

.post-job a {
    display: block;
    float: right;
    background: url(sprite.png) 0 -90px no-repeat;
    width: 251px;
    height: 80px;
    text-indent: -9999em;
}

.post-job a:hover {
    background: url(sprite.png) 0 -170px no-repeat;
}

#container .pagetitle {
    border-bottom: 1px solid #e6ebec;
    margin: 1em 0 1.4em;
    padding-bottom: 0.6em;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 182%;
}

/* Table
-----------------------------------------------------------------------------*/

.joblist {
    width: 100%;
}

.joblist th, .joblist td {
    border: 0;
    border-bottom: 1px solid #e6ebec;
    padding: 1em 0.5em;
}

.joblist th {
    border-bottom: 3px solid #d2d8d9;
    padding-bottom: 0.7em;
    font-size: 116%;
    text-align: left;
}

.joblist a {
    font-weight: bold;
}

/* Form
-----------------------------------------------------------------------------*/

.form {
    position: relative;
}

.form .field {
    padding: 0 0 20px 170px;
    position: relative;
}

.form .field.actions {
    padding: 0 0 40px 550px;
}

.form label {
    width: 150px;
    text-align: right;
    position: absolute;
    left: 0;
    top: 6px;
}

.form label.inline {
    position: static;
}

.reset label {
    top: 3px;
}

.form input.text {
    width: 280px;
}

.form textarea.text {
    width: 520px;
    height: 100px;
}

.problem {
    position: absolute;
    right: 0;
    top: 0;
}

.problem a {
    display: block;
    margin-bottom: 1em;
    padding-left: 28px;
    color: #969696;
}

.problem a:hover {
    color: #b40e12;
}

.problem .forgot {
    background: url(sprite.png) 0 -600px no-repeat;
}

.problem .receive {
    background: url(sprite.png) 0 -620px no-repeat;
}

label.inner {
    position: static;
}

/* Job Content
-----------------------------------------------------------------------------*/

#container .jobtitle {
    margin: 1em 0 0.5em;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 182%;
}

.job-content .date {
    font-weight: bold;
    color: #969696;
}

.job-content .manage {
    margin-left: 25px;
}

.job-content .manage a {
    display: inline-block;
    background-image: url(sprite.png);
    background-repeat: no-repeat;
    margin-right: 10px;
    padding-left: 22px;
    font-weight: 400;
    color: #969696;
}

.job-content .manage a:hover {
    color: #000;
}

.job-content .manage .edit { background-position: 0 -450px; }
.job-content .manage .edit:hover { background-position: -250px -450px; }
.job-content .manage .delete { background-position: 0 -480px; }
.job-content .manage .delete:hover { background-position: -250px -480px; }
.job-content .manage .open { background-position: 0 -510px; }
.job-content .manage .open:hover { background-position: -250px -510px; }
.job-content .manage .close { background-position: 0 -540px; }
.job-content .manage .close:hover { background-position: -250px -540px; }

.job-content .social {
    position: absolute;
    right: 20px;
    top: 3.8em;
}

.social a {
    display: block;
    float: left;
    background-image: url(sprite.png);
    background-repeat: no-repeat;
    margin-left: 2px;
    width: 24px;
    height: 24px;
    text-indent: -9999em;
}

.social .twitter { background-position: 0 -420px; }
.social .facebook { background-position: -26px -420px; }
.social .plurk { background-position: -52px -420px; }

.job-content .job-info {
    margin: 40px 0;
}

.job-content .menu li {
    float: none;
    background: url(hr.jpg) left bottom no-repeat;
    margin-bottom: 8px;
    padding-bottom: 10px;
}

.job-info .field {
    padding: 0 0 0 150px;
}

.job-info .double .field {
    float: left;
    width: 210px;
}

.job-info label {
    top: 0;
    width: 130px;
    font-weight: bold;
}

.job-content .menu .last {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
}

.apply-information {
    background: url(hr.jpg) left bottom no-repeat;
    margin-bottom: 20px;
    padding-bottom: 40px;
}

.apply-information h2 {
    background: url(title-border.png) left bottom no-repeat;
    padding-bottom: 4px;
    font-family: Verdana, Geneva, sans-serif;
    text-transform: uppercase;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}



.clearfix {
    display:inline-block;
}
/* Hide from IE Mac \*/

.clearfix {
    display:block;
}
/* End hide from IE Mac */